#
# Egistec fingerprint driver
#

config INPUT_EGISTEC_FPS_MMI
	tristate "Egistec Fingerprint Sensor driver MMI Revision"
	default n
	help
	  Say Y here to enable the Egistec Fingerprint sensor driver.

	  To compile this driver as a module, choose M here. The
	  module will be called ets_fps_mmi.
